@charset "UTF-8";

/* General styling */
body {
    margin: 0;
    padding: 0;
    background: #121212;
    color: #fff;
    display: flex;
    height: 100vh;
}

@font-face {
    font-family: 'Pretendard'; /* 원하는 이름 설정 */
    src: url('../assets/fonts/Pretendard-Bold.woff2') format('woff2');
    /*url('../assets/fonts/Pretendard-Light.woff2') format('woff2');*/
    font-weight: normal; /* 옵션: normal, bold 등 */
    font-style: normal; /* 옵션: italic, oblique 등 */
}


/* Main container styling */
.main-container {
    display: flex;
    width: 100%;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    background: #212026;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -4px 8px rgba(55, 55, 55, 0.5);
    min-height: 100vh; /* 화면 높이에 맞게 사이드바 확장 */
    overflow-y: auto; /* 내용물이 많아지면 스크롤 가능 */
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 20px;
}

/* Sidebar button style */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: #fff;
    background: #373737;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s;
}

.sidebar a:hover {
    background: #575757;
}

/* Content area styling */
.content {
    flex: 1;
    padding: 20px;
}

/* 헤더 수정 */
.header {
    margin-bottom: 20px;
}

.header h1 {
    color: #fff;
    margin-top: 10px;
}

/* 검색창 스타일 */
.search-bar {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
    background: transparent;
    border: none;
    color: #fff;
    flex: 1;
    font-size: 14px;
    outline: none;
    margin-right: 10px;
}

.search-bar .icon-search {
    color: #aaa;
    font-size: 18px;
}

/* Dashboard grid */
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr)); /* 현재 3칸 반응형 알아서 변경 */
    gap: 20px;
}

/* Card styling */
.dashboard-card {
    background: rgba(33, 32, 38, 0.55);
    border-radius: 10px;
    padding: 30px; /* 내부 여백 확대 */
    min-height: 400px; /* 카드 높이 증가 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 -4px 8px rgba(55, 55, 55, 0.5);
}

.dashboard-card h3 {
    color: #fff;
    margin-bottom: 10px;
}

.dashboard-card p {
    color: #ddd;
}

.project-list ul {
    list-style: none;
    padding: 0;
}

.project-list li {
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: #ccc;
}
