<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nlb.mapper.ExamMapper">

    <!-- 회원이 만든 시험 리스트 조회 -->
    <select id="selectExamListByCreaterId"  resultType="ExamVO">
        SELECT *
        FROM exam
        WHERE creater_id = #{userId}
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        <choose>
            <when test="sortBy == 'title'">
                ORDER BY title ${order}
            </when>
            <when test="sortBy == 'createdAt'">
                ORDER BY created_at ${order}
            </when>
            <when test="sortBy == 'examineeCount'">
                ORDER BY examinee_count ${order}
            </when>
            <when test="sortBy == 'category'">
                ORDER BY category ${order}
            </when>
            <otherwise>
                ORDER BY created_at ASC
            </otherwise>
        </choose>
    </select>

    <update id = "updateExamActivationStatus">
        update exam
        set activation_status = #{status}
        where exam_id = #{examId}
    </update>

    <delete id = "deleteExamByExamId">
        delete from exam
        where exam_id = #{examId}
    </delete>


    <!-- 모든 시험 리스트 조회 -->
    <select id="selectExamList"  resultType="ExamVO">
        SELECT *
        FROM exam
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        <choose>
            <when test="sortBy == 'title'">
                ORDER BY title ${order}
            </when>
            <when test="sortBy == 'createdAt'">
                ORDER BY created_at ${order}
            </when>
            <when test="sortBy == 'examineeCount'">
                ORDER BY examinee_count ${order}
            </when>
            <when test="sortBy == 'category'">
                ORDER BY category ${order}
            </when>
            <otherwise>
                ORDER BY created_at ASC
            </otherwise>
        </choose>
    </select>


</mapper>